[submodule "anatole-zola"]
    path = themes/anatole-zola
    url = https://github.com/rmariano/anatole-zola.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/whiteplain"]
	path = themes/whiteplain
	url = https://github.com/taikii/whiteplain.git
