{{- if .Site.Params.showShareIcons | default true }}
<ul class="article-share">

  <!-- Sharingbutton X -->
  <li>
    <a class="resp-sharing-button__link" href="{{ printf "https://x.com/intent/tweet/?text=%s - %s&url=%s" (.Title | safeURL) (.Site.Title | safeURL) (replace (.Permalink | absURL) "%" "%25") | safeURL }}" target="_blank" rel="noopener" aria-label="Twitter">
      <div class="resp-sharing-button resp-sharing-button--x resp-sharing-button--medium"><i class="fa-brands fa-x-twitter"></i></div>
    </a>
  </li>

</ul>

{{- end }}
